openapi: 3.0.0
info:
  title: 'Zei Organizations API'
  version: '1.0'
servers:
  -
    url: 'https://api.zei-world.com'
paths:
  '/organizations/{org_id}/scores':
    get:
      summary: 'Renvoie les scores actifs d''une entreprise par super catégorie'
      operationId: getScores
      parameters:
        -
          name: org_id
          in: path
          description: 'ID of Organization to return'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'The organization scores list'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: 'The organization ID'
                    type: integer
                  name:
                    description: 'The organization name'
                    type: string
                  scores:
                    description: 'List of scores'
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          description: 'Score category name'
                          type: string
                          example: 'Environment'
                        value:
                          description: 'The value for this category'
                          type: integer
                          example: 58
        '401':
          $ref: '#/components/schemas/401'
        '404':
          $ref: '#/components/schemas/404'
        '422':
          $ref: '#/components/schemas/422'
        '500':
          $ref: '#/components/schemas/500'
      security:
        -
          id: []
          secret: []
  '/organizations/{org_id}/investments':
    get:
      summary: 'Renvoie les engagements d''une entreprise classés par super catégorie puis catégorie intermédiaire'
      operationId: getInvestments
      parameters:
        -
          name: org_id
          in: path
          description: 'ID of Organization to return'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'The organization indicators list'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: 'The organization ID'
                    type: integer
                  name:
                    description: 'The organization name'
                    type: string
                  superCategories:
                    description: 'List of super-categories'
                    type: object
                    properties:
                      superCategory:
                        description: 'Super-category name'
                        type: object
                        properties:
                          indicatorCategory:
                            description: 'Indicator category name'
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  description: 'The indicator ID'
                                  type: integer
                                  example: 0
                                name:
                                  description: 'The indicator name'
                                  type: string
                                score:
                                  description: 'The indicator score'
                                  type: integer
                                type:
                                  description: 'Percent, boolean or bonus'
                                  type: string
                                date:
                                  description: 'Date of completion'
                                  type: string
                                description:
                                  description: 'Comment from Organization'
                                  type: string
                                category:
                                  description: 'Indicator category name'
                                  type: string
                                superCategory:
                                  description: 'Super-category name'
                                  type: string
                                section:
                                  description: 'Business section'
                                  type: string
                                predictionDate:
                                  description: 'Predicted date'
                                  type: string
                                predictionScore:
                                  description: 'Predicted score'
                                  type: integer
        '401':
          $ref: '#/components/schemas/401'
        '404':
          $ref: '#/components/schemas/404'
        '422':
          $ref: '#/components/schemas/422'
        '500':
          $ref: '#/components/schemas/500'
      security:
        -
          id: []
          secret: []
  '/organizations/network/{network_id}':
    get:
      summary: 'Get list of organizations in your network'
      operationId: getOrganizationNetworksInfos
      parameters:
        -
          name: network_id
          in: path
          description: 'ID of your network'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'The organization list'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      description: 'The organization ID'
                      type: integer
                    name:
                      description: 'The organization name'
                      type: string
                    last_update:
                      description: 'Date of last update from organization'
                      type: object
                      properties:
                        date:
                          type: string
                        timezone_type:
                          type: string
                        timezone:
                          type: string
                    join_network:
                      description: 'Date of organization joining your network'
                      type: object
                      properties:
                        date:
                          type: string
                        timezone_type:
                          type: string
                        timezone:
                          type: string
                    environment:
                      description: 'Environment score on Zei'
                      type: integer
                    social:
                      description: 'Social score on Zei'
                      type: integer
                    governance:
                      description: 'Governance score on Zei'
                      type: integer
        '401':
          $ref: '#/components/schemas/401'
        '404':
          $ref: '#/components/schemas/404'
        '422':
          $ref: '#/components/schemas/422'
        '500':
          $ref: '#/components/schemas/500'
      security:
        - id: [ ]
          secret: [ ]
  '/network/{network_id}/organization/{org_id}':
    get:
      summary: 'Renvoie les engagements du réseau d''une entreprise classés par super catégorie puis catégorie intermédiaire'
      operationId: getNetworkInvestments
      parameters:
        -
          name: org_id
          in: path
          description: 'ID of Organization to return'
          required: true
          schema:
            type: integer
        -
          name: network_id
          in: path
          description: 'Your Network ID'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'The organization indicators list'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: 'The organization ID'
                    type: integer
                  name:
                    description: 'The organization name'
                    type: string
                  superCategories:
                    description: 'List of super-categories'
                    type: object
                    properties:
                      superCategory:
                        description: 'Super-category name'
                        type: object
                        properties:
                          indicatorCategory:
                            description: 'Indicator category name'
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  description: 'The indicator ID'
                                  type: integer
                                  example: 0
                                name:
                                  description: 'The indicator name'
                                  type: string
                                score:
                                  description: 'The indicator score'
                                  type: integer
                                type:
                                  description: 'Percent, boolean or bonus'
                                  type: string
                                date:
                                  description: 'Date of completion'
                                  type: string
                                description:
                                  description: 'Comment from Organization'
                                  type: string
                                category:
                                  description: 'Indicator category name'
                                  type: string
                                superCategory:
                                  description: 'Super-category name'
                                  type: string
                                predictionDate:
                                  description: 'Predicted date'
                                  type: string
                                predictionScore:
                                  description: 'Predicted score'
                                  type: integer
        '401':
          $ref: '#/components/schemas/401'
        '404':
          $ref: '#/components/schemas/404'
        '422':
          $ref: '#/components/schemas/422'
        '500':
          $ref: '#/components/schemas/500'
      security:
        -
          id: []
          secret: []
components:
  schemas:
    '401':
      description: 'Bad credentials or not authorised to access content'
      type: string
    '404':
      description: 'The organization doesn''t exist or is private'
      type: string
    '422':
      description: 'API id or secret key missing'
      type: string
    '500':
      description: 'Unexpected error'
      type: string
  securitySchemes:
    id:
      type: apiKey
      name: id
      in: query
    secret:
      type: apiKey
      name: secret
      in: query
